{% extends "base.html" %} 

{% block titulo %} Detalles {{ cancion.nombre }}  {% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
			 <h2>{{ cancion.nombre }}</h2>
			 <p>{{ cancion.autor }}</p>
			 <p>{{ cancion.genero }}</p>
			  {% if isAutorComprada %}
					  <audio controls>
						  <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
					  </audio>
			  {% else %}
				  <a class="btn btn-primary pull-right"
					 href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio
					  }} €</a>
			  {% endif %}
			  <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>

	<h3>Añadir comentarios</h3>
	<form class="form-horizontal" method="post" action="/comentarios/{{ cancion._id.toString() }}" encType="multipart/form-data">
		<div class="form-group">
			<label class="control-label col-sm-2" for="texto">Texto:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="texto"
					   placeholder="Comentario..." required="true" />
			</div>
		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Añadir comentario</button>
			</div>
		</div>
	</form>

	<h3>Comentarios</h3>
	<div class="row">
		<!-- Inicio del Bloque comentario -->
		{% for comentario in comentarios %}
			<div class="col-sm-offset-1">
				<div class="media-body">
					<h4 class="media-heading">Usuario: {{ comentario.autor }}</h4>
					{{ comentario.texto }}
				</div>
				<br>
			</div>
		{% endfor %}
		<!-- Fin del Bloque comentario -->
	</div>


	 <!--
	 <div class="row" style="margin-top: 20px;" >
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../public/img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../public/img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../public/img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
	  </div>
	  -->
{% endblock %}